@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* { /*Seleção global*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.637);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.637);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.637);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px; /* responsivo */
    max-width: 1000px; /* responsivo */
    margin: auto; 
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

main img {
    width: 100%; /* responsivo */
}

main img.pequena {
    width: 50%; /* responsivo */
    display: block; /* responsivo */
    margin: auto; /* responsivo */
}

footer {
    background-color: var(--cor5);
    color: white;
}