@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(182, 238, 185);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(51, 122, 42);
}

h2 {
    color: rgb(82, 100, 80);
}

h1#principal {
    text-align: center;
    background-color: rgb(8, 39, 6);
    color: white;
}

.basico {
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
}

.intermediario {
    color: blue;
}

.avançado {
    color: red;
}

.destaque {
    background-color: white;
}